// Fontes
$fontPrincipal: Roboto, sans-serif;


// Paleta-de-cores
$corDeFundo: #dff9fb;
$primary-color: #182C61;
$secondary-color: #44bd32;


// Break-points
$breakpoint-small: 767px;
$breakpoint-medium: 1023px;