@use 'config/reset';
@use 'config/variaveis';

body {
    background-color: variaveis.$corDeFundo;  
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$primary-color;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        padding: 12px;
        font-weight: bold;
        margin-left: 36px;

        a {
            color: variaveis.$corDeFundo;
            text-decoration: none;
        }

        a:hover{
            color: variaveis.$primary-color;
            text-decoration: underline;
        }

        &:hover{
            font-style: italic;
            background-color: variaveis.$secondary-color;
            border-radius: 8px;
        }
    }
}

section {
    margin-bottom: 70px;
    padding: 56px 0;

    h2{
        font-family: variaveis.$fontPrincipal;
        color: variaveis.$primary-color;
        font-size: 36px;
        font-style: italic;
        border-bottom: 2px solid variaveis.$primary-color;
    } 
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    .product-item img {
        width: 100%;
        border-radius: 16px;
    }

    .product-button {
        display: block;
        background-color: variaveis.$secondary-color;
        color: variaveis.$corDeFundo;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: underline;
        font-style: italic;
        font-size: 18px;

        &:hover {
            background-color: darken(variaveis.$secondary-color, 10%);
        }
    }
}

footer {
    font-family: variaveis.$fontPrincipal;
    margin-top: 24px;
    padding: 16px 0;
    background-color: variaveis.$primary-color;
    color: variaveis.$corDeFundo;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: variaveis.$breakpoint-medium) {
    .container {
        max-width: 98%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: variaveis.$breakpoint-small) {
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}
